<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"><a href="/Profile/@User.ContactId"><img src="/storage/images/@User.ProfileImageTitle" class="rounded" width="155"></a> </div>
            <div class="ml-3 w-100">
                <a href="/Profile/@User.ContactId">
                    <h4 class="mb-0 mt-0">@User.FullName</h4>
                </a> <span>asdasd</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="articles">Posts</span> <span class="number1">38</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">Friends</span> <span class="number2">980</span> </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> <button class="btn btn-sm btn-primary w-100 ml-2">Add Friend</button> </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ClientUser User { get; set; }
} 