<div class="h-100 d-flex justify-content-center">
    <div class="my-auto">
        <div>@TitleMessage</div>
        <div class="loading"><div></div><div></div><div></div><div></div></div>
    </div>
</div>

@code {
    [Parameter]
    public string TitleMessage { get; set; } = "";
} 